/* universal selector to get rid of any unwanted margins on elements   */
*{
  margin: 0px;
}
body, html {
  width: 100%;
  height: 100%;
}
/*max-width means width of the container will 1100px until the browser viewport width is smaller than 1100px then width of container will be 100% instead*/
.container {
  width: 100%;
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f5f5dc;
}
.recipe-pamphlet {
  display: block;
  border: solid 3px rgb(85,107,47);
  border-radius: .4em;  
  font-family: 'Playfair Display', serif;
}
.navColor{
  color: black;
}
.navColorClicked {
  color: orange;
}
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #F1ECC3;
  border:  solid 0.25px rgb(85,107,47);
}
.navlinks {
  float: left;
}
li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
h1 {
  font-size: 2em;
  text-decoration-line: underline; 
  padding: 45px;
}
.introduction{
  font-size: 1em;
}
p, li {
  font-weight:  500;
}
h1, .photo-credit, img{
  text-align: center;
}
.photo-credit {
  font-size: 0.5em;
}
.introduction, .top, .left, .right{
  padding: 15px;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
a {
   color: #000;
}
button {
  margin: 10px;
}
button a{
  text-decoration: none;
}
button:hover {
  background-color:rgb(216,228,188);
  text-decoration: none;
  padding: 5px;
}
.button1, .button2, .button3 {
  font-family: 'Playfair Display', serif;
  border-radius: .4em;
  padding: 5px;
  font-size: x-small;
  background-color: #f5f5dc;
}
footer{
  text-align: center;
  font-size:0.75em;
  margin: 10px;
}


/*mobile size*/
@media screen and (max-width: 320px) {
    p {
    font-size: 1.5em;
    width: 100%;
}

/*all styles inside media query will apply as long as screen is smaller than or equal to 768px*/
/*screen property for computer screens, tabels, and smartphones*/

/* media query for smartphone size */
@media screen and (max-width: 480px) {
   p {
    font-size: 1.75em;
    width: 100%;
}

/* media query for tablet size */
@media screen and (min-width: 481px) and (max-width: 768px) {
  p {
    font-size: 2em;
    width: 100%;
}

/*desktop screen size*/
@media screen and (min-width: 1024px) {
   p {
    font-size: 2.5em;
    width: 100%;
}

/*large screen size*/
@media screen and (max-width: 1920px)  {
  p {
   font-size: 2.75em;
   width: 100%;   
}